/* .Head-wrapper{
  text-align: center;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  position: fixed;
  width: 100%;
  overflow: hidden;
} */
.logo{
  margin-top: 10px;
  margin-left: 10px;
  width:20%;
  height:70px;
  margin-bottom: 3px;
}
.Top_Headline_Wrapper{
  height: 10rem;
  background-color: #fdfdfd;
}
.Top_Headline_bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 1.5rem;
}
.news_paper_name{
  font-size: large;
  font-size: 500%;
  font-weight: bolder;
  margin-left: -100px;
  color:#051831
}
.navbar {
    width: 100%;
    height: 2rem;
    background-color: #051831;
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* padding: 0 10%; */
    /* align-items: flex-start; */
  }
  
  .navbar nav {
    height: 100%;
  }
  
  .navbar ul {
    height: 100%;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: flex-start;
    padding: 0.5rem;
  }
  
  .navbar li {
    margin: 0 1rem;
    width: 5rem;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
  }
  
  .navbar a:hover,
  .navbar a:active,
  .navbar a.active {
    color: #95bcf0;
    padding-bottom: 0.25rem;
    border-bottom: 4px solid #95bcf0;
  }