* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  
}

body {
  /* margin: 4rem; */
  /* margin-left: 3rem;
  margin-right: 3rem; */
  background-color: white;
  margin-top: 0rem;
}